#blog-container{
    background:#f8f8f8;
    margin:0;
    padding:20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html,body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}
.main{
    width: 100%;
    margin: 0;
}
.about-body .main, .post-body .main{
    width: 100%;
}
.blog-item{
    padding: 30px;
    border: 1px #e2e2e2 solid;
    background: white;
    margin: 10px 0;
    position: relative;
}
.item-title:hover{
    color: orange;
}
.item-title{
    font-size: 25px;
    font-weight: bold;
}
.item-des{
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.des-dot{
    height: 3px;
    width: 3px;
    margin: 0 20px;
    border-radius: 100%;
    background: #ccc;
}
.des-direction{
    color: orange;
}
.line{
    width: 100%;
    height: 1px;
    border-bottom: 1px #e2e2e2 dashed;
}
.des-tech{
    border-bottom: 1px orange dashed;
}
.tip-title{
    border-radius: 6px;
    background: orange;
    color: white;
    padding: 2px 6px;
    text-align: center;
    line-height: auto;
    margin: 0 5px;
}
.intro-tip{
    margin-top: 20px;
}
.intro-item{
    display: flex;
    margin: 10px 0;
}
.intro-titles{
    font-weight: bold;
    color: #bbb;
    flex-shrink:0;
}
.intro-tip{
    display: flex;
}
.intro-img{
    position: absolute;
    right:3%;
    top:-35px;
}
.intro-img img{
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 0;
    transform: rotate(30deg);
}
.blogs-title{
    display: flex;
    margin-top: 20px;
    background: white;
}
.title-left{
    width: 7px;
    background: #bbb;
    height: auto;
}
.title-content{
    padding: 20px;
    font-size: 26px;
    font-weight: bold;

}